.video{background-color:#000;margin-bottom:1em;}
.video a, .video img{border: none;}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video img{
  width: 100%;
}