{#
/**
 * @file
 * Default theme implementation for the img shortcode.
 *
 * Available variables:
 * - id: The id youtube video attribute.
 * - img: source image for load page.
 * - alt: The alt text.
 * - class: Class string.

 */
#}
{{ attach_library('shortcode_video/image.video') }}
{{ attach_library('shortcode_video/google.api') }}
<div id="video-{{ id }}" class="video {{ class }}{% if  play is null and playId is null and img is not empty%} video-clicable{% endif %}">
  {% if  play is not null or playId is not null %}
    <iframe src="https://www.youtube.com/embed/{{ id }}?rel=0&amp;autoplay=1"
      frameborder="0" allowfullscreen></iframe>
    {% elseif img is empty %}
    <iframe src="https://www.youtube.com/embed/{{ id }}?rel=0"
      frameborder="0" allowfullscreen></iframe>
    {% else %}
    <a style="border:none;" id="#vclick-video-'{{ id }}" href="#">
      <img style="border:none;" src="{{ img }}" alt="'{{ alt }}" />
    </a>
  {% endif %}
</div>
<div class="g-ytsubscribe" data-channel="AssociationL214" data-layout="default" data-count="default"></div>